<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>FotoDlubak</h3>
      <strong>BS</strong>
    </div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span>Tg</span>
          </button>
        </div>
      </div>
    </nav>

    <ul class="list-unstyled components">
      <li class="active">
        <a routerLink="">
          <i class="glyphicon glyphicon-home"></i>
          Strona Główna
        </a>
      </li>
      <li>
        <a routerLink="o-nas">
          <i class="glyphicon glyphicon-briefcase"></i>
          O Nas
        </a>
        <a routerLink="galeria">
          <i class="glyphicon glyphicon-duplicate"></i>
          Galeria
        </a>
      </li>
      <li>
        <a routerLink="oferta">
          <i class="glyphicon glyphicon-link"></i>
          Oferta
        </a>
      </li>
      <li>
        <a routerLink="kontakt">
          <i class="glyphicon glyphicon-paperclip"></i>
          Kontakt
        </a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li>
      <li>
        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">


    <router-outlet></router-outlet>


  

  </div>
</div>